
:root {
    --mien-title-color: #FFFFFF;
    --second-title-color: #2E2F42;
    --basic-text-color: #434455;
    --second-text-color: #E7E9FC;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --light: #F4F4FD;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
    --accent: #E7E9FC;
    --subtle-text: #8E8F99;
    --grad: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--basic-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--basic-text-color);
}



.headerly {
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--accent);
}

.container-headerly {
    display: flex;
    justify-content: space-between;

}

.headerly-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);

}

.logo {
    color: var(--second-title-color);
}

.menu-open-btn {
    width: 32px;
    height: 22px;
    border: none;
    background-color: transparent;
}

.menu-open-icon {
    width: 100%;
    height: 100%;
    stroke: var(--dark);
}

.mob-menu {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px 25px 40px 40px;
    background-color: var(--mien-title-color);
    overflow: auto;
}

.menu-close-btn {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 0 32px auto;
    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--tra);
}

.menu-close-icon {
    width: 100%;
    height: 100%;
    fill: var(--dark);
    transition: fill var(--tra);
}

.mob-menu-list {
    margin-bottom: 40px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}

.mob-menu-studio {
    color: var(--pressed-state);
}

.mob-addres-list {
    margin-bottom: 48px;
}

.mob-address-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--basic-text-color);
}

.mob-tel-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-brand);
}

.mob-list-icon {
    display: flex;
    justify-content: start;
    gap: 56px;
}

.mob-item-icon {
    width: 40px;
    height: 40px;
}

.mob-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white-background);
    transition: background-color var(--tra);
}

.headerly-list {
    display: none;
}

.headerly-address {
    display: none;
}



.hero {
    background: var(--dark);
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: var(--grad), url(../images/bg/bg-mobile-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: var(--grad),
            url(../images/bg/bg-mobile-2x.jpg);
    }
}

.hero-title {
    margin: 0 auto;
    max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--mien-title-color);
}

.hero-btn {
    margin: auto;
    margin-bottom: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer;
    background: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.04em;
    color: var(--mien-title-color);
    padding: 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 169px;
    margin: 48px auto 0;
    transition: background var(--tra), color var(--tra);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--pressed-state);
    color: var(--mien-title-color);
}



.about {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-title {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.about-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
}

.container-about-icon {
    display: none;
}



.work {
    display: none;
}



.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--light);
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}

.team-list {
    display: flex;
}

.team-item {
    padding-bottom: 32px;
    background-color: var(--white-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    margin-top: 32px;
    text-align: center;
}

.team-text {
    margin-top: 8px;
    text-align: center;
}

.team-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-item-icon {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white-background);
}



.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.customers-item {
    width: 190px;
    height: 88px;
}

.customers-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px Solid var(--subtle-text);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border var(--tra);
}

.customers-icon {
    fill: var(--subtle-text);
}



.footerly {
    max-width: 767px;
    margin: 0 auto;
    background-color: var(--dark);
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-footerly {
    text-align: center;
}

.container-logo {
    margin-bottom: 72px;
}

.footerly-text {
    margin: 16px auto 0;
    color: var(--second-text-color);
    max-width: 268px;
}

.footerly-logo {
    color: var(--light);
}


.footerly-title {
    font-size: 16px;
    line-height: 1.5;
    color: var(--mien-title-color);
    margin-bottom: 16px;
}
.footerly-icon {
  margin-bottom: 72px;
}
.footerly-list-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
   
}

.footerly-item-icon {
    width: 40px;
    height: 40px;
}

.footerly-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white-background);
}

.footerly-form-title {
    font-size: 16px;
    line-height: 1.5;
    color: var(--mien-title-color);
    margin-bottom: 16px;
}

.footerly-form-field {
    margin-bottom: 16px;
}

.footerly-form-input {
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: var(--mien-title-color);
    border: 1px solid var(--white-background);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    outline: transparent;
}

.footerly-form-input::placeholder {
    color: var(--mien-title-color);
    opacity: 0.6;
}

.footerly-form-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--mien-title-color);
    background-color: var(--primary-brand);
    border-radius: 4px;
    padding: 8px 24px;
    gap: 16px;
    border: none;
    margin: 0 auto;
}



.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.filters-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    transition: color var(--tra), background var(--tra), box-shadow var(--tra);
}

.filters-btn:hover,
.filters-btn:focus {
    color: var(--mien-title-color);
    background: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: 24px;
}

.project-item {
    width: 360px;
}

.project-link {
    display: block;
    width: 100%;
    height: 100%;
    transition: box-shadow var(--tra);
}

.project-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link:hover,
.project-border:hover {
    border: none;
}

.project-text {
    margin-top: 8px;
}

.project-border {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    transition: border var(--tra);
}

.project-top-wrap {
    position: relative;
    overflow: hidden;
}

.project-cover-text {
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    background-color: var(--primary-brand);
    padding: 40px 32px 164px 32px;
    transform: translateY(100%);
    transition: transform var(--tra);
    height: 100%;
}

.project-link:hover .project-cover-text {
    transform: translateY(0);
}



.backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--tra), visibility var(--tra);
    overflow-y: scroll;
}

.modal {
    background-color: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--tra);
    padding: 24px;
    height: 586px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);}

.modal-close {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--tra);
}

.modal-close-icon {
    width: 100%;
    height: 100%;
    fill: var(--dark);
    transition: fill var(--tra);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-title {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}

.modal-field {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color var(--tra);
}

.modal-input:focus {
    border-color: var(--primary-brand);
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    fill: var(--dark);
    transform: translateY(-50%);
    transition: fill var(--tra);
}

.modal-input:focus+.modal-input-icon {
    fill: var(--primary-brand);
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    outline: transparent;
    transition: border-color var(--tra);
}

.modal-textarea:focus {
    border-color: var(--primary-brand);
}

.modal-textarea ::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-btn {
    display: block;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--mien-title-color);
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color var(--tra);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--pressed-state);
}

.modal-field-check {
    margin-bottom: 24px;
}

.checkbox-text {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
}

.checkbox-text-link {
    line-height: 1.33;
    text-decoration-line: underline;
    color: var(--primary-brand);
}

.checkbox-text span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color var(--tra), fill var(--tra);
}

.modal-check:checked+.checkbox-text span {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--light);
}



@media screen and (max-width:427px) {
    .customers-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .modal {
      height: 652px;
    }

    .mob-list-icon {
      display: flex;
      justify-content: start;
      gap: 38px;
  }
}

@media screen and (min-width:428px) and (max-width:767px) {

    .customers-item:nth-child(2n) {
        margin-left: 16px;
    }
   
}


@media screen and (max-width:767px) {

    .about-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .team-list {
        flex-direction: column;
        margin: 0 auto;
        width: 264px;
        gap: 72px;
    }

    .customers-item:nth-child(-n + 4) {
        margin-bottom: 72px;
    }

   
    .backdrop {
        padding: 96px 18px 114px 18px;
    }

    .modal {
        max-width: 392px;
        min-height: 586px;
        padding: 24px 16px;
    }

    .checkbox-text {
        justify-content: center;
        flex-wrap: wrap;
    }
}


@media screen and (min-width:768px) and (max-width:1199px) {
    .about-item:nth-child(2n + 1) {
        margin-right: 24px;
    }

    .about-item:nth-child(-n + 2) {
        margin-bottom: 64px;
    }

    .team-item:nth-child(2n + 1) {
        margin-right: 24px;
    }

    .team-item:nth-child(-n + 2) {
        margin-bottom: 64px;
    }

    .container-logo {
        width: 264px;
        margin-right: 24px;
        
    }

    .container-footerly {
        flex-wrap: wrap;
          width: 582px;
    }

    .footerly-subscribe {
    }
}



@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    /* ------------ header ----------------- */
    .menu-open-btn {
        display: none;
    }

    .headerly {

        padding-top: 16px;
        padding-bottom: 16px;

    }

    .headerly-list {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-left: 120px;
    }

    .headerly-nav {
        display: flex;
        align-items: center;
    }

    .headerly-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--second-title-color);
        transition: color var(--tra);
    }

    .headerly-studio::after {
        position: absolute;
        content: "";
        width: 48px;
        height: 4px;
        background-color: var(--pressed-state);
        border-radius: 2px;
        top: 44px;
        transform: translateX(-100%);
    }

    .headerly-studio {
        position: relative;
        color: var(--pressed-state);
    }

    .headerly-portfolio {
        position: relative;
        color: var(--pressed-state);
    }

    .headerly-portfolio::after {
        position: absolute;
        content: "";
        width: 66px;
        height: 4px;
        background-color: var(--pressed-state);
        border-radius: 2px;
        top: 44px;
        transform: translateX(-100%);
    }

    .headerly-link:hover,
    .headerly-link:focus,
    .address-link:hover,
    .address-link:focus {
        color: var(--pressed-state);
    }

    .headerly-address {
        display: block;
        font-style: normal;
    }

    .address-item:not(:last-child) {
        margin-bottom: 4px;
    }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--basic-text-color);
        transition: color var(--tra);
    }

    /* ----------- hero ----------- */

    .hero {
        background-image: var(--grad), url(../images/bg/bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--grad),
                url(../images/bg/bg-tab-2x.jpg);
        }
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    /* ------about-------- */

    .about-list {
        display: flex;
        flex-wrap: wrap;

    }

    .about-item {
        width: 356px;
    }

    .about-title {
        text-align: start;
    }

    /* ----------- Team ----------- */

    .team-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* ---------customers------------ */

    .customers-item {
        width: 168px;
        height: 88px;
        margin-right: 24px;
    }

    .customers-item:nth-child(3n+3) {
        margin-right: 0;
    }

    .customers-item:nth-child(-n + 3) {
        margin-bottom: 72px;
    }

    /* ---------footer--------------- */

    .footerly {
        max-width: 1199px;
    }

    .footerly-icon {
      margin-bottom: 0px;
    }
    .container-footerly {
        display: flex;
        text-align: start;
    }

    .footerly-form {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .footerly-form-input {
        width: 264px;

    }

    .footerly-form-field {
        margin-bottom: 0;
    }

    .footerly-list-icon {
        margin-bottom: 0;
    }

    /* ------------ backdrop ------------ */

    .backdrop {
        padding-top: 96px;
    }

    .modal {
        width: 408px;
        height: 586px;
        padding: 24px;
    }
}

/*========= @media screen and (min-width:1200px)==== */

@media screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* --------- header ---------- */

    .headerly {
        max-width: 1440px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 0 auto;

    }

    .addres-list {
        display: flex;
        gap: 40px;
    }

    .address-item:not(:last-child) {
        margin-bottom: 0;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* ----------- hero ----------- */

    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: var(--grad), url(../images/bg/bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--grad),
                url(../images/bg/bg-2x.jpg);
        }
    }

    /* ------about-------- */

    .about {
        max-width: 1440px;
        padding-top: 120px;
        padding-bottom: 120px;
        margin: 0 auto;
    }

    .about-title {
        margin-top: 8px;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .about-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    .container-about-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        background-color: var(--light);
        border-radius: 4px;
    }

    .about-list {
        display: flex;
        gap: 24px;
    }

    .about-item {
        width: 264px;
    }

    /* ------------work-------------- */

    .work {
        display: flex;
        max-width: 1440px;
        padding-bottom: 120px;
        margin: 0 auto;
    }

    .work-title {
        margin-left: auto;
        margin-right: auto;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--second-title-color);
    }

    .work-list {
        display: flex;
        gap: 24px;
        margin-top: 72px;
    }

    /* ---------- Team --------- */

    .team {
        max-width: 1440px;
        padding-top: 120px;
        padding-bottom: 120px;
        margin: 0 auto;
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-soc-link {
        transition: background-color var(--tra);
    }

    .team-soc-link:hover,
    .team-soc-link:focus {
        background-color: var(--pressed-state);
    }

    /*-----------customers------------ */

    .customers {
        max-width: 1440px;
        padding-top: 120px;
        padding-bottom: 120px;
        margin: 0 auto;
    }

    .customers-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .customers-item {
        width: 168px;
        height: 88px;
        margin-right: 0;
    }

    .customers-item:nth-child(-n + 3) {
        margin-bottom: 0;
    }

    .customers-icon {
        transition: fill var(--tra);
    }

    .customers-icon-link:focus,
    .customers-icon-link:hover {
        border: 1px Solid var(--pressed-state);
    }

    .customers-icon-link:hover .customers-icon,
    .customers-icon-link:focus .customers-icon {
        fill: var(--pressed-state);
    }

    /* ---------footer--------- */

    .footerly {
        max-width: 1440px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container-logo {
        margin-right: 0;
        margin-bottom: 0;

    }

    .footerly-text {
        margin-top: 16px;
        max-width: 264px;
    }

    .footerly-logo {
        color: var(--light);

    }

    .footerly-icon {
        margin-right: 80px;
        margin-left: 120px;
        width: 208px;
    }

    .footerly-soc-link {
        transition: background-color var(--tra);
    }

    .footerly-soc-link:focus,
    .footerly-soc-link:hover {
        background-color: var(--success)
    }

    .footerly-form-btn {
        transition: background-color var(--tra), color var(--tra);
    }

    .footerly-form-btn:hover,
    .footerly-form-btn:focus {
        background-color: var(--pressed-state);
        color: var(--mien-title-color);
    }

    /* ----------- backdrop---------- */
    .backdrop {
        overflow-y: hidden;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scalex(1) rotate(0);
        min-height: 584px;

    }



    .modal-close:hover,
    .modal-close:focus {
        background-color: var(--pressed-state);
    }

    .modal-close:hover .modal-close-icon,
    .modal-close:focus .modal-close-icon {
        fill: var(--white-background);
    }





}